name: CI

on:
  push:
    branches:
      - main
      - '[0-9].[0-9]+'  # matches to backport branches, e.g. 3.6
    tags: [ 'v*' ]
  pull_request:
    branches:
      - main
      - '[0-9].[0-9]+'
      - 'update/pre-commit-autoupdate'
  schedule:
    - cron: '0 6 * * *'  # Daily 6AM UTC build

env:
  pythonversion: "3.10"


jobs:

  lint:
    name: Linter
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Setup Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: ${{env.pythonversion}}
      - name: Install dependencies
        run: uv sync
      - name: Make sync version of library (redis_om)
        run: make sync
      - name: Run linter
        run: |
          make dist
          make lint

  test-unix:
    name: Test Unix
    needs: lint
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        pyver: [ "3.10", "3.11", "3.12", "3.13", "pypy-3.10" ]
        redisstack: [ "redis/redis-stack:latest", "redis:8.4.0" ]
      fail-fast: false
    services:
      redis:
        image: ${{ matrix.redisstack }}
        ports:
          # Maps port 6379 on service container to the host
          - 6379:6379
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    env:
      OS: ${{ matrix.os }}
      INSTALL_DIR: ${{ github.workspace }}/redis
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Setup Python ${{ matrix.pyver }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.pyver }}
      - name: Install dependencies
        run: uv sync
      - name: Make sync version of library (redis_om)
        run: make sync
      - name: Run unittests (redisstack:${{ matrix.redisstack }}, ${{ matrix.os }})
        env:
          REDIS_OM_URL: "redis://localhost:6379?decode_responses=True"
        run: |
          make test
          uv run coverage xml
      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          file: ./coverage.xml
          flags: unit
          env_vars: OS
          fail_ci_if_error: false
