name: Publish Pypi
on:
  release:
    types: [ published ]

jobs:
  publish:
    name: Publish to PyPi
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6

      - name: Get version from tag
        id: get_version
        run: |
          realversion="${GITHUB_REF/refs\/tags\//}"
          realversion="${realversion//v/}"
          echo "VERSION=$realversion" >> $GITHUB_OUTPUT

      - name: Set the version for publishing
        uses: sandstromviktor/toml-editor@2.0.0
        with:
          file: "pyproject.toml"
          key: "project.version"
          value: "${{ steps.get_version.outputs.VERSION }}"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: uv sync

      - name: Make sync version of library (redis_om)
        run: make sync

      - name: Build package
        run: uv build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
